<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <h1 class="me-2"><strong> Searching: </strong></h1>
    <mat-form-field appearance="outline">
      <mat-label>Ingredient</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        name="userQuestion"
        [(ngModel)]="ingredientSearch"
        id="userQuestions"
        (ngModelChange)="this.ingredientListUpdate.next($event)"
      />
    </mat-form-field>
  </div>

  <button mat-mini-fab color="primary" (click)="handleAddItemShoppingList()">
    <mat-icon>add</mat-icon>
  </button>
</div>
