.list-cart {
  padding: 2rem 10rem;
}

.btn-css {
  transform: scale(0.7);
}

img {
  max-width: 15%;
  height: auto;
}

@media only screen and (max-width: 780px) {
  .list-cart {
    padding: 1rem 0.4rem;
  }
}
