<div class="card">
  <div class="card-header">
    <h1 class="m-0">Your cart</h1>
  </div>
</div>

<div class="list-ingredient-cart">
  <app-cart-list></app-cart-list>
</div>

<div class="card list-cart">
  <div class="d-flex justify-content-between">
    <div></div>
    <div class="text-align-right">
      <h1>
        <strong>
          Total: <span>{{ totalCash | currency }}</span>
        </strong>
      </h1>
    </div>
  </div>
  <div class="d-flex justify-content-between" *ngIf="totalCash !== 0">
    <div></div>
    <div class="action">
      <button
        mat-flat-button
        color="warn"
        class="me-2"
        (click)="handleClearCart()"
      >
        Clear cart
      </button>
      <button mat-flat-button color="primary">Check out</button>
    </div>
  </div>
</div>
