<!-- Begin:: Tool bar -->
<mat-toolbar color="primary" class="fixed-top">
  <mat-toolbar-row>
    <a mat-button class="navbar-brand" href="#">
      <img src="../favicon.ico" alt="" width="40" height="40" />
    </a>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="primary" selected routerLink="/recipe">Recipe</mat-chip>
      <mat-chip color="primary" selected routerLink="/shopping-list"
        >Shopping list</mat-chip
      >
    </mat-chip-list>
    <span class="example-spacer"></span>
    <mat-icon
      type="button"
      [matBadge]="allIngredientCart"
      matBadgeColor="warn"
      routerLink="/cart-check"
      mat-icon-button
      >shopping_cart</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
<!-- End:: Tool bar -->
<!-- Begin:: Routing -->
<div class="container pt-5 mt-5">
  <router-outlet></router-outlet>
</div>
<!-- End:: Routing -->
