<!-- Begin:: Tool bar -->
<nav class="navbar navbar-expand-lg p-0 navbar-dark fixed-top">
  <mat-toolbar color="primary">
    <a mat-button class="navbar-brand" href="#">
      <img src="../favicon.ico" alt="" width="40" height="40" />
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/recipe">Recipe</a>
        <a class="nav-item nav-link" routerLink="/shopping-list"
          >Shoping list</a
        >
      </div>
    </div>

    <mat-icon type="button" matBadge="4" matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </mat-toolbar>
</nav>

<!-- End:: Tool bar -->

<!-- Begin:: Routing -->
<div class="container pt-5 mt-5">
  <router-outlet></router-outlet>
</div>
<!-- End:: Routing -->
