<div class="list-ingredient">
  <div *ngFor="let item of listIngredient">
    <mat-card class="example-card">
      <img
        mat-card-image
        [src]="item.imgURL"
        [alt]="item.alt"
        width="50px"
        height="120px"
      />
      <mat-card-content>
        <h2 #ingredientName>
          {{ item.ingredientName }}
          <button mat-icon-button (click)="openDialog(item)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </h2>
        <h2 class="text-success">
          <strong>
            <span #ingredientPrice>{{ item.price | currency }}</span>
          </strong>
        </h2>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-stroked-button
          color="primary"
          class="more-list"
          (click)="handleAddToCart(item)"
        >
          <mat-icon>add_shopping_cart</mat-icon>
          Add to cart
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<button
  mat-stroked-button
  color="primary"
  class="more-list"
  (click)="handleMoreItem()"
>
  More
</button>
