.list-ingredient {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 0.2fr));
  gap: 1rem;
}

.more-list {
  margin-top: 2rem;
  width: 100% !important;
}

.example-card:hover {
  transform: scale(1.02);
  transition: transform 300ms ease-in-out;
}
