<div class="d-flex align-items-center">
  <div class="w-50 d-flex">
    <h1 class="me-3 mb-3"><strong>List of recipe</strong></h1>
    <button
      mat-mini-fab
      color="primary"
      class="me-5 mb-3"
      (click)="handleAddRecipe()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-form-field class="search-recipe w-50" appearance="outline">
    <mat-label>Recipe</mat-label>
    <input
      matInput
      placeholder="Search recipe"
      name="userQuestion"
      [(ngModel)]="recipeSearch"
      id="userQuestions"
      (ngModelChange)="this.recipeListUpdate.next($event)"
    />
  </mat-form-field>
</div>

<div class="list-recipe">
  <div *ngFor="let item of recipeListData">
    <div class="card">
      <div
        class="card-body d-flex justify-content-between"
        (click)="handleSelectRecipe(item.id)"
      >
        <div class="content">
          <h3>
            <b>
              {{ item.foodName }}
            </b>
          </h3>
          <p>{{ item.description }}</p>
        </div>
        <img [src]="item.imgURL" alt="item.alt" />
      </div>
    </div>
  </div>
</div>
