img {
  width: auto;
  max-width: 10rem;
  height: auto;
  object-fit: cover;
}
.list-recipe {
  height: calc(100vh - 220px);
  overflow-y: scroll;
}

.search-recipe {
  width: 100%;
}

.card:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
}
.nav-link:hover {
  color: white !important;
}
